<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaft.org">
<head>
    <title> bibliografia</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}">
    <script src="/webjars/jquery/3.6.0/jquery.min.js"></script>
    <script src="/webjars/bootstrap/5.2.0/js/bootstrap.min.js"></script>        
</head>
    <body  class="bg-image"
    style="
      background-image: url('https://mudanzastarragones.com/wp-content/uploads/2020/06/1201-1500x630.jpg');
      ;" >
        <div class="container-fluid">
            <p><a href="/" class="btn btn-primary btn-sm-mt-2">regresar al menu</a></p>
            <p><a href="/preguntas" class="btn btn-danger btn-sm-mt-2"> ir al cuestionario</a></p>
            <table>
                <thead>
                    <tr>
                        <h1>fuentes sobre RULA</h1>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="bibliografia: ${bibliografias}">
                        <td>
                            <div class="container">
                                <div class="badge bg-success fw-bold fs-5 text-wrap w-100">
                                    <span th:text="fuenteN "></span>
                                    <span th:text="${bibliografia.id}" ></span>
                                </div>
                                <div class="text-wrap fw-bold text-center w-100">
                                    <span th:text="${bibliografia.fuente}"></span>
                                </div>
                                <div class="text-center fw-bold fs-15 w-100">
                                    <span th:text="${bibliografia.direccion}"></span>
                                </div>                                                       
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>