<!DOCTYPE  HTML>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity">

<head>
    <title>inicio</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}">
    <script src="/webjars/jquery/3.6.0/jquery.min.js"></script>
    <script src="/webjars/bootstrap/5.2.0/js/bootstrap.min.js"></script>    
</head>

<body>
    
    <div  class="bg-image"
    style="
      background-image: url('https://th.bing.com/th/id/R.c514d222e838af60cf8a42ac6b3fe0c5?rik=f2DSAK6oHPPOMA&riu=http%3a%2f%2fsatiro.es%2fwp-content%2fuploads%2f2015%2f06%2fIMG_0973.jpg&ehk=PsR%2bj%2fZ7HZ3FWne4pyAa%2bcVBA%2bpf6rXrBdAjor5ztiU%3d&risl=&pid=ImgRaw&r=0');
      ;background-size: cover;">
      <p><a href="/preguntas" class="btn btn-primary btn-sm-mt-2">ir al cuestionario</a></p>
      <p><a href="/bibliografia" class="btn btn-danger btn-sm-mt-2"> ir a bibliografia</a></p>
        <h1 class="badge bg-success fw-bold fs-5 text-wrap w-100">¿Que es R.U.L.A?</h1>
        <P class="bg-info p-2 bg-opacity-50 fw-bold">Desarrollado en 1993 por McAtamney y Corlett de la Universidad de Nottingham para
            el análisis de trabajos en industria y usuarios de PVDs, tal y como dicen los autores
            en su publicación original, este método:</P>
        <OL>
            <LI class="bg-info p-2 bg-opacity-50 fw-bold">
                Evalúa 4 factores de riesgo (número de movimientos, exigencia muscular estática, fuerza y posturas); y
                no considera otros factores de riesgos ergonómicos relevantes como son la velocidad, la precisión de
                movimientos, la frecuencia y la duración de las pausas.
            </LI>
            <LI class="bg-info p-2 bg-opacity-50 fw-bold">Se desarrolló como un método de identificación de la exposición a un riesgo probable de trastornos de
                las extremidades superiores relacionados con el trabajo y da resultados que podrían incorporarse en una
                evaluación ergonómica más amplia.</LI>
            <LI class="bg-info p-2 bg-opacity-50 fw-bold">
                Se analiza una sola postura, que puede ser la mantenida durante más tiempo o la más exigente.
            </LI>
            <LI class="bg-info p-2 bg-opacity-50 fw-bold">
                Los métodos simples no pueden tratar de manera simple con efectos posturales y de carga en el cuerpo.
            </LI>
        </OL>

        <H2  class="badge bg-danger fw-bold fs-5 text-wrap w-100">Método de ergonomía RULA: ¿Qué evalúa? ¿Cuáles son sus principales problemas?</H2>
        <P class="bg-info p-2 bg-opacity-50 fw-bold">El Método de Evaluación Ergonómica RULA está diseñado para identificar la exposición de las extremidades
            superiores para trabajadores de oficina; por lo tanto, para personas que están en una posición sedente,
            frente a una computadora.</P>
        <P class="bg-info p-2 bg-opacity-50 fw-bold">La evaluación que hicieron los autores fue solo con 16 trabajadores de oficina, donde se valoraba si el
            resultado obtenido con Método de Evaluación Ergonómica RULA coincidía con la valoración subjetiva de estos
            16 trabajadores respecto a las molestias que ellos percibían.</P>
        <P class="bg-info p-2 bg-opacity-50 fw-bold">Igual que en el Método de Evaluación Ergonómica REBA, no se consideran los factores organizacionales, aspecto
            que de por sí es básico para cualquier método de evaluación ergonómica.</P>
        <P class="bg-info p-2 bg-opacity-50 fw-bold">Tampoco se consideran factores clave como el ritmo de trabajo, la duración de los períodos de recuperación,
            ni el número de pausas a lo largo de la jornada.</P>
        <P class="bg-info p-2 bg-opacity-50 fw-bold">El Método de Evaluación Ergonómica RULA es un método no exhaustivo porque no considera todos los factores de
            riesgo que hoy en día están reconocidos y que pueden impactar en el riesgo de desarrollar trastornos
            musculoesqueléticos en las extremidades superiores.</P>
        <P class="bg-info p-2 bg-opacity-50 fw-bold">Y así lo reconocen los mismos autores del método:</P>
        <OL>
            <LI class="bg-info p-2 bg-opacity-50 fw-bold">recomiendan la aplicación del método RULA sobre la postura más frecuente como una evaluación inicial que
                requiere posteriormente una evaluación específica con otra metodología,</LI>
            <LI class="bg-info p-2 bg-opacity-50 fw-bold">o bien, para valorar la eficacia de una intervención, comparando la postura requerida antes de la
                intervención con la postura después de la intervención.</LI>
        </OL>
        <P class="bg-info p-2 bg-opacity-50 fw-bold">Esperamos que como siempre esta lectura te haya dado ideas útiles</P>
        <p class="bg-info p-2 bg-opacity-50 fw-bold">final del cuestionario</p>
    </div>
</body>

</html>